* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Inconsolata", monospace;
    color: white;
}

html {
    background-color: black;
}

#header {
    display: inline-block;
    width: 400px;
    margin-left: 10%;
}

pre {
    margin-left: 10%;
    font-size: 18px;
}

code {
    white-space: pre-wrap;
}
