@media screen and (max-width: 481px) {
    #content {
        min-width: 480px;
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Inconsolata", monospace;
    color: white;
}

html {
    background-color: black;
}

#content {
    min-width: 1500px;
    max-width: 100%;
}

#header {
    display: inline-block;
    font-size: 2.5em;
    width: 70%;
    height: 40px;
    line-height: 1.5;
    margin-left: 10%;
}

#name {
    font-weight: 900;
    font-style: italic;
}

pre {
    margin-left: 10%;
    font-size: 1.2em;
}

code {
    white-space: pre-wrap;
}

.links {
    border: 1px solid white;
    padding: 40px 0px;
    position: relative;
    text-align: center;
    top: 158px;
    width: 100%;
}

.links a {
    display: inline-block;
    background-color: red;
    text-decoration: none;
    margin: 10px;
    padding: 10px 9%;
    border: 1px solid red;
    border-radius: 4px;
    font-weight: 900;
}

.links a:hover {
    background-color: white;
    border: 1px solid red;
    color: red;
}
